<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Costrecord</servlet-name>
		<servlet-class>costrecord.CostrecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Costrecord</servlet-name>
		<url-pattern>/costOperation</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>RoleOperation</servlet-name>
		<servlet-class>costrecord.RoleOperationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleOperation</servlet-name>
		<url-pattern>/roleOperation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HouseOperation</servlet-name>
		<servlet-class>costrecord.HouseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HouseOperation</servlet-name>
		<url-pattern>/houseOperation</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
